<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="installation-page"><h2 id="crunchmail-zimlet-iframe" id="crunchmail-zimlet-iframe">Crunchmail Zimlet iFrame</h2>
<p>Il s&#39;agit du code qui est chargé dans une iFrame dans un onglet du Webmail Zimbra.
Pour le zimlet lui même, c&#39;est ici : <a href="https://git.owk.cc/crunchmail/zimlet">https://git.owk.cc/crunchmail/zimlet</a></p>
<h3 id="requirements" id="crunchmail-zimlet-iframe_requirements">Requirements</h3>
<ul>
<li>Install Node<ul>
<li>on OSX install <a href="http://brew.sh/">home brew</a> and type <code>brew install node</code></li>
<li>on Windows install <a href="https://chocolatey.org/">chocolatey</a> and type <code>choco install nodejs</code></li>
</ul>
</li>
<li>On OSX you can alleviate the need to run as sudo by <a href="https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md">following these instructions</a>. I highly recommend this step on OSX</li>
<li>Open terminal</li>
<li>Type <code>npm install -g gulp</code></li>
</ul>
<h3 id="installing-npm-dependencies" id="crunchmail-zimlet-iframe_installing-npm-dependencies">Installing npm dependencies</h3>
<ul>
<li>Open terminal</li>
<li>Type <code>npm install</code></li>
</ul>
<h3 id="installing-bower-dependencies" id="crunchmail-zimlet-iframe_installing-bower-dependencies">Installing bower dependencies</h3>
<ul>
<li>Open terminal</li>
<li>Type <code>bower install</code></li>
</ul>
<h3 id="running" id="crunchmail-zimlet-iframe_running">Running</h3>
<pre><code>gulp
</code></pre><p>Il est aussi possible d&#39;ajouter --prod pour forcer certaines étapes spécifiques à la prod, comme le minify JS. Ensuite aller sur <a href="http://localhost:4001">http://localhost:4001</a></p>
<h3 id="structure" id="crunchmail-zimlet-iframe_structure">Structure</h3>
<p>All gulp tasks are specify on <code>gulp-tasks</code> folder. Paths declared in gulp tasks are in <code>gulp.config.json</code> file.</p>
<p>This application is separated in several modules. Every modules is an application feature. Go to <a href="https://github.com/crunchmail/frontend-assets">https://github.com/crunchmail/frontend-assets</a> to see the structure of assets and <a href="https://github.com/crunchmail/frontend-directives">https://github.com/crunchmail/frontend-directives</a> for the structure of directives</p>
<pre><code>/src
    /app
    /assets
    /components
        /frontend-directives
        /frontend-assets
    /iframe_integration
    /static
</code></pre><h3 id="documentation" id="crunchmail-zimlet-iframe_documentation">Documentation</h3>
<p>After launch <code>gulp`` in your terminal, go to</code><a href="http://localhost:4002```">http://localhost:4002```</a>.</p>
<h3 id="tests" id="crunchmail-zimlet-iframe_tests">Tests</h3>
<pre><code>gulp e2e
</code></pre></div></div>
